<h1>Comments</h1>

<ol>
  {{#each comments}}
  <a href='/users/{{this.user.id}}'><li>{{this.user.name}}</li></a>
    <ul>
      <a href='/comments/{{this.id}}'><li>{{this.content}}</li></a>
    </ul>
  <br><br>
  {{/each}}
</ol>

<br>
<a href="/comments/new">Create New Comment</a>
<br>
<a href="/users">See all Users</a>
