<h1>Comments</h1>

<ol>
  {{#each comments}}
  <a href='/comments/{{this.id}}'><li>{{this.name}}</li></a>
    <ul>
      <li>{{this.content}}</li>
    </ul>
  <br><br>
  {{/each}}
</ol>

<br><br>
<a href="/comments/new">Create New Comment</a>
