<h1>Show Comment</h1>

<h4>Name: {{comment.user.name}}</h4>
<br>
<h4>Content: {{comment.content}}</h4>

<br><br>

<a href="/comments">Back to Comments</a>
<br><br>
<a href="/comments/{{comment.id}}/edit">Edit Comment</a>
<br>
<a href="/comments/{{comment.id}}/delete">Delete Comment</a>
